<nav class="navbar navbar-expand-lg  bg-light navbar-fixed-top">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon" ></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-capitalize" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" href="/about">about</a>
        </li>

      </ul>
      <ul class="navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link  text-capitalize" href="/dashboard" tabindex="-1" >dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-capitalize" href="/logout" tabindex="-1" >logout</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link  text-capitalize" href="/register" tabindex="-1" >register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-capitalize" href="/login" tabindex="-1" >login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>
